.MusicPage{
	width:400%;
	height:100vh;
	margin-left: -100%;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.playPage,.styleItems,.LrcPage,.SongList{
	width:100vw;
	height:100vh;
}
.styleItems,.SongList{
	height:90vh;
	overflow-y:scroll;
	margin-top: -10vh 
}
.playPage{
	position: relative;
}
.bottomBtn{
	position: fixed;
	width:100%;
	height:10vh;
	bottom:0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index:50;
	
}
.bottomBtn p{
	width:27px;
	height:27px;
}
.MusicTitle{
	width:100vw;
	text-align: center;
	color: rgba(255,255,255,.8);
	font-weight: 100;
	position: absolute;
	top:65%;
	line-height: 2rem;
}
.PlayBtn{
	width:300px;
	top:55%;
	left:50%;
	margin-left: -150px;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.PlayBtn p{
	width:35px;
	height:30px;
}

.PlayBtn p.likeBtn{
	background: url('./IMG/Like.png') no-repeat;
	background-size: 100% 100%;
}
.PlayBtn p.NotlikeBtn{
	background: url('./IMG/NotLike.png') no-repeat;
	background-size: 100% 100%;
}

.PlayBtn p.playBtn{
	background: url('./IMG/paused.png') no-repeat;
	background-size: 100% 100%;
}
.PlayBtn p.nextBtn{
	background: url('./IMG/nextPlay.png') no-repeat;
	background-size: 100% 100%;
}
.PlayBtn p.pausedBtn{
	background: url('./IMG/play.png') no-repeat;
	background-size: 100% 100%;
}
.loading{
	width:100vw;
	height:100vh;
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index:99;
	top:0	
}

