.playBar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width:95%;
  margin:0 auto;
  margin-top:80vh;
}

.progress {
	clear: both;
	margin:0 auto;
  width: 250px;
}
.progress .bar {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  width:250px;
  position: absolute;
  z-index:3;
}
.progress .bar .progress-now {
  background-color: #ccc;
  height: 3px;
  width: 0;
  position: absolute;
  z-index:0;
}
.progress .time {
  text-align: right;
  font-weight: 100;
  color: rgba(245,245,245,.6);
  font-size: 0.1rem
}