#Lyric-page{
	margin: 0 auto;
	width: 100vw;
  	height: 80vh;
  	color: #fff;
  	font-size: 1rem;
	overflow: hidden;
  	position: relative;
  	z-index: 20;
  	font-weight: 100;
  	font-size: 0.1rem;
  	margin-top: -10vh;
}
#Lyric-page ul{
	position: absolute;
	width: 100%;
  	transition: 500ms all;
}
#Lyric-page ul li{
  	width:80vw;
  	text-align: center;
  	height: 40px;
  	line-height: 1rem;
  	margin:0 auto;
  	list-style: none;

}

#Lyric-page .seachLrc{
	width:100vw;
	height:90vh;
	text-align: center;
	animation: play 1.3s infinite alternate ;
}

#Lyric-page .seachLrc img{
	display: inline-block;

}

@keyframes play{
			0%{
				margin-top: 0px;
			}
			100%{
				margin-top: 50px;
			}
		}
